{% extends 'base.html' %}
{% block title %}{{ post.title }}{% endblock %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/post_detail.css' %}"> <!-- CSS específico para o post detalhado -->
{% endblock %}

{% block content %}
<div class="container mt-5"> <!-- Container principal -->
    <div class="row justify-content-center">
        <div class="col-12 col-md-8">
            <h1 class="mb-4">{{ post.title }}</h1> <!-- Título do post -->
            <img src="{{ post.photo_post.url }}" class="img-fluid mb-4" alt="{{ post.title }}"> <!-- Imagem do post -->
            <p class="text-muted">Autor: {{ post.author.username }} | Publicado em: {{ post.created_at|date:"F j, Y" }}</p> <!-- Autor e data -->
            <div class="post-content">
                <p>{{ post.subscription }}</p> <!-- Conteúdo do post -->
            </div>
            <div class="mt-4">
                <a href="{% url 'home' %}" class="btn btn-secondary">Voltar para a lista de posts</a> <!-- Botão de retorno -->
            </div>
        </div>
    </div>
</div>
{% endblock %}
